body {
    background-image: url('stacked-waves-haikei\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: cover; /* or contain, or custom values */
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.pomodoro {
  padding: 1.2em;
  width: 350px;
  height: 450px;
  background-color: var(--azulbugado);
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  gap: 25px;
  align-items: center;
  border-radius: 5%;
  position: relative;
}

button {
  background-color: blueviolet;
  color: white;
  border-radius: 6px;
  height: 50px;
  width: auto;
}

.tempo {
  background-color: rgb(14, 139, 202);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempodentro {
  height: 180px;
  width: 180px;
  background-color: var(--azulbugado);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root
{
    --azulbugado: rgb(00, 22, 33);
}
