:root
{
    --azul-clarinho: #64A2F0;
    --azul-escurinho: #005BA9;
    --roxo-clarinho: #8964EC;
    --roxo-escurinho: rgb(54, 23, 163);
}

body, .pomodoro, button {
  transition: background-color 1.5s, color 1.5s;
}

body {
    background-image: url('stacked-waves-haikei\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: cover; /* or contain, or custom values */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

input {
  height:45px;
  width: auto;
}

.botoes {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 0;
}
.pomodoro {
  padding: 1.2em;
  width: 30vw;
  height: 30vw;
  background-color: var(--azul-escurinho);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

#segundos
{
  font-size: 5.5em;
  color: aliceblue;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#botoes {
  background-color: var(--azul-clarinho);
  color: black;
  border-radius: 6px;
  height: 4.5em;
  width: 8.5em;
  font-weight: bold;
  transition-duration: 0.4s;
  font-family: monospace;
}
#botoes:hover {
  background-color: var(--roxo-clarinho); 
  color: white;
}

#botoes2 {
  background-color: var(--azul-clarinho);
  color: black;
  border-radius: 6px;
  height: 5em;
  width: 7em;
  font-weight: bold;
  transition-duration: 0.4s;
}
#botoes2:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

#botaoplay {
  background-color: var(--azul-clarinho);
  color: black;
  border-radius: 6px;
  height: 5em;
  width: 7em;
  font-weight: bold;
  transition-duration: 0.4s;
}
#botaoplay:hover {
  background-color: var(--roxo-clarinho); /* Green */
  color: white;
}

/*modo de foco*/
.backgroundFoco
{
  background-image: url('stacked-waves-haikei\ \(2\).svg');
}
.pomodoroColor
{
  background-color: var(--roxo-escurinho);
}
.buttonColor
{
  background-color: var(--roxo-clarinho);
}
/*modo de foco*/